
<objects xmlns="http://www.springframework.net">  
 

  <!-- SpringManager -->
  <object name="SpringContainer"  singleton="true"
        type="Ubs.Collateral.Sre.Common.Spring.MfcSpringManager, sre.common">
    <constructor-arg name="emailService" ref="EmailService" />
     <property name="ConfigAssembly" value="sre.common" />    
  </object>
  
</objects>