<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Machine.Specifications.Should-Signed" version="0.8.0" targetFramework="net40" requireReinstallation="True" />
  <package id="Machine.Specifications-Signed" version="0.9.3" targetFramework="net40" requireReinstallation="True" />
  <package id="NUnit" version="3.0.0" targetFramework="net45" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net40" />
</packages>